

body {
background-color:rgb(8, 5, 57);
color:rgb(149, 177, 228);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 22px;
margin: 12px;
}

h1{
text-align: center;
font-size: 72px;
margin: 0 auto;
}

#name {
text-align: center;
font-size: 52px;
margin: 0 auto;
color: rgb(94, 16, 35);
border: 12px groove rgb(117, 38, 65);
background-color: rgb(196, 152, 152);
}

h2{
text-align: center;
font-size: 45px;
font-weight: 200;
color: rgb(164, 73, 73);
margin: 0 auto;
}

#Header{
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

#nav{
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    display: block;
    text-align: center;
    padding: 14px;
    z-index: 9px;
}

#About{
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

#Experience{
    justify-content: space-evenly;
    display:flex;
    border: 10px double rgb(210, 172, 103);
    padding: 10px;
    font-size: 20px;
    flex-wrap: wrap;
}

#Connect{
    display:flex;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    background-color: aliceblue;

}

a{
    color: rgb(73, 20, 107);
}

a:visited{
    color:rgb(56, 115, 156)
}

a:hover{
    color:rgb(8, 8, 8);
}

a:active{
    color: azure;
}

#right-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    list-style-type: none;
}

#left-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    list-style-type: none;
}

#remove {
    list-style-type: none;
}